
.container {
    background-color: rgb(192, 192, 192);
    width: 40%;
    border-radius: 15px;
    border-style: solid;
    border-width: thin;
}

.progress {
    
    color: rgb(0, 0, 0);
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
    width: 50%;
}

.Progress_btn{
    margin-left:42%;
}

#progress1 {
    background-color: rgb(116, 194, 92);    
}

#progress2 {
    background-color: rgb(194, 92, 92);    
}

#progress3 {
    background-color: rgba(255,255,255);
}

#progress4 {
    background-color: rgb(47, 0, 216);
}

#progress5 {
    background-color: rgb(255, 217, 0);
}
